.loading__header {
	position: absolute;
	width: 1440px;
	height: 126px;
	left: 0px;
	top: 0px;
}

.loading__container {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 672px;
	top: 360px;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 88px;
	height: 82.11px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #000;
	animation: spinner 0.6s linear infinite;
}
