.bookmarks {
	width: 1110px;
}

.bookmarks__topSection {
	display: flex;
}

.bookmarks__topSection--header {
	position: absolute;
	width: 337px;
	height: 49px;
	left: 165px;
	top: 170px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 49px;
	color: rgba(0, 0, 0, 0.87);
}

.bookmarks__topSection--filter {
	position: absolute;
	width: 255px;
	height: 45px;
	left: 1020px;
	top: 174px;
}

.bookmarks__contents {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 250px;
	left: 165px;
	width: 1500px;
}

.bookmarks__contents--card4 {
	height: 350px;
	width: 350px;
	margin-right: 30px;
	margin-bottom: 31px;
}

.bookmarks__contents--card4__headline--box {
	height: 134px;
	width: 350px;
	background: rgba(9, 53, 123, 0.9);
	margin-top: -5px;
}

.bookmarks__contents--card4__headline--box__text {
	width: 330px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.07px;
	color: #ffffff;
	margin: 0px 10px 3px;
}
